body{
  background-color: #141111 !important;
  color: white !important;
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Outfit', sans-serif;
}
.select{
  background-color:#212529 !important;
  color: white !important;
}
.justify-center{
display: flex;
justify-content: center;
margin-bottom: 30px;
}
.head{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.add-button{
  margin-left: 10px;
}